<ac-map>
    <ac-toolbar [allowDrag]="true">
        <ac-toolbar-button matTooltip="Home" matTooltipPosition="right"
                           [iconUrl]="'assets/home-icon.svg'">
        </ac-toolbar-button>
        <ac-toolbar-button matTooltip="Range And Bearing" matTooltipPosition="right"
                           [iconUrl]="'assets/ruler.svg'">
        </ac-toolbar-button>
        <ac-toolbar-button matTooltip="Zoom To Rectangle" matTooltipPosition="right"
                           [iconUrl]="'assets/select.svg'">
        </ac-toolbar-button>
        <ac-toolbar-button matTooltip="Draw Circle" matTooltipPosition="right"
                           [iconUrl]="'assets/circle.svg'">
        </ac-toolbar-button>
        <ac-toolbar-button matTooltip="Draw Ellipse" matTooltipPosition="right"
                           [iconUrl]="'assets/ellipse.svg'">
        </ac-toolbar-button>
        <ac-toolbar-button matTooltip="Draw Polygon" matTooltipPosition="right"
                           [iconUrl]="'assets/polygon.svg'">
        </ac-toolbar-button>
        <ac-toolbar-button matTooltip="Draw hippodrome" matTooltipPosition="right"
                           [iconUrl]="'assets/hippodrome.svg'">
        </ac-toolbar-button>
    </ac-toolbar>

    <ac-layer acFor="let plane of planes" [store]="true" [context]="this">
        <ac-billboard-desc props="{image: plane.image, position: plane.position}"></ac-billboard-desc>
        <ac-label-desc props="{position: plane.position, text: plane.name, color: getColor(plane)}"></ac-label-desc>
    </ac-layer>
</ac-map>
